# Lots from: https://stribika.github.io/2015/01/04/secure-secure-shell.html
# /etc/ssh/ssh_config says that every option is only changed the first time around, so defaults at the end.

Host rsync
     HostName usw-s009.rsync.net
     User 9675
     IdentityFile ~/.ssh/rsync-darya

Host github.com
     User git
     IdentityFile ~/.ssh/github-darya

Host cheyenne
     HostName cheyenne.ucar.edu
     User dcherian
     ForwardX11 yes
     ForwardX11Trusted yes
     Compression yes

Host chdata
     HostName data-access.ucar.edu
     User dcherian
     Compression yes

Host sverdrup
     HostName sverdrup.ldeo.columbia.edu
     User dcherian
     ForwardX11 yes
     ForwardX11Trusted yes
     Compression yes

Host hobart
     HostName hobart.cgd.ucar.edu
     User dcherian

Host izumi
     HostName izumi.unified.ucar.edu
     User dcherian

Host goldhill
     HostName goldhill.cgd.ucar.edu
     User dcherian

Host andre
     HostName andre.cgd.ucar.edu
     User dcherian

Host thorodin
     HostName thorodin.cgd.ucar.edu
     User dcherian

Host andre-goldhill
     HostName andre.cgd.ucar.edu
     User dcherian
     ProxyCommand ssh goldhill -W %h:%p
     PubkeyAuthentication yes
     Compression yes

Host *.ucar.edu
     User dcherian

Host *
     ControlMaster auto
     ControlPath /tmp/ssh_mux_%h_%p_%r
     PubKeyAuthentication yes
     Compression yes
     UseRoaming no
     ServerAliveInterval 120
     ServerAliveCountMax 3
     AddressFamily inet
     KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
     HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa
     Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
     MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
     ForwardX11 no
     ForwardAgent no
     ForwardX11trusted no
     HashKnownHosts yes
